/* App.css */
html, body {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.navbar {
  display: flex;
  height: 102px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px; /* Ensure padding is consistent */
}

.navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Ensure it takes full width */
}

.navbar-collapse {
  display: flex;
  justify-content: center;
}

.navbar-nav .nav-item {
  padding: 0 15px; /* Space between items */
}

/* Show dropdown on hover */
.nav-item.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}



.footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #45526e;
}


body a{
  text-decoration: none;
  color: unset;
}


body img{
  width: 100%;
}